.card {
    width: 400px;
    height: 200px;
    border-radius: 16px;
    position: relative;
    transition: opacity 0.3s ease, transform 0.3s ease;
    &:hover {
        background-color: #a9a9a9;
    }

    &.full {
        box-shadow: 3px 3px 5px #FFA500;
        animation: full_game_anim 1.5s ease-in-out infinite alternate;
    }

    &.not_full {
        border:  2px solid #919191;
        box-shadow: 3px 3px  5px black;
    }

    .name-preview {
        width: 400px;
        height: 70px;
        display: flex;

        .name {
            color: white;
            text-align: left;
            margin-left: 10px;
            overflow: hidden;
            font-weight: bold;
            text-overflow: ellipsis;
            width: 240px;
            word-wrap: break-word;
            max-width: 240px;
        }

        .preview {
            float: right;
            height: 80%;
            width: 40%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 0 5px white inset;
            margin-right: 20px;
            margin-top: 6px;
        }
    }
    .progress-bar-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .progress {
            padding: 4px;
            background: rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            width: 90%;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);

            .progress-bar {
                height: 16px;
                border-radius: 4px;
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
                transition: width 0.4s linear, background-color 0.4s linear;
                box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.1) inset;
                animation-name: changeWidth;
                animation-duration: 3s;
                animation-timing-function: linear;
            }
            @keyframes changeWidth {
                from {
                    width: 0;
                    background-color: #f63a0f;
                }
                to {
                    width: width;
                    background-color: background-color;
                }
            }
        }
    }
    .Cont {
        width: 50px;
        height: 50px;
        position: relative;
        object-fit: cover;
    }
    .achievement-images {
        margin-right: 5px;
        margin-top: 10px;
        margin-left: 5px;
        .achievement-image {
            width: 40px;
            margin-left: 5px;
            object-fit: cover;
            transition: transform 0.1s ease-in-out;
            position: relative;
            margin-right: 5px;
            height: 40px;
            &::after {
                background: linear-gradient(to right, #3b414a 0%, #2c3138 95%);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: "";
            }
        }

    }

    .achievement-images,
    .details-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    .details-container {

        .row {
            display: flex;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 0 5px white inset;
            border: 1px solid black;
            border-radius: 10px;
            .cell {
                display: inline-block;
                background-color: whitesmoke;
                padding: 5px;
                text-align: center;

                &.left {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-right: 1px rgb(192, 192, 192) solid;

                }
                &.middle {
                    border-right: 1px rgb(192, 192, 192) solid;
                    border-left: 1px rgb(192, 192, 192) solid;
                }
                &.right {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-left: 1px rgb(192, 192, 192) solid;
                }
            }

        }
    }
    .gameCard-background {
        background-color: gray;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        z-index: -1;
        background-size: cover;
    }
}
@keyframes full_game_anim {
    from {
        border: 2px solid #ffa600c2;
    }
    to {
        border: 2px solid #FFA500;
    }
}
