@use './variables' as *;

.gameButton {
    background: transparent;
    max-height: 2rem;
    color: var(--text-header);
    border: none;
    margin-right: $spacing-lg;
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-sm;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: var(--card-shadow);
    cursor: pointer;
    transition: background-color $transition-normal;
    &:hover {
        background-color: var(--hover-bg);
    }
}