@use './variables' as *;

.gameFilterCont {
    display: flex;
    justify-content: center;
    align-items: center;
    .inputSortFilterContainerGames {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $spacing-xl;
        width: fit-content;
        border-radius: $border-radius-lg;
        background-color: var(--accent-color);
    }
}
.game_container {
    display: flex;
    justify-content: center;
    gap: $spacing-sm;
    flex-wrap: wrap;
}
.add-game-button {
    margin-right: $spacing-md;
    position: absolute;
    right: 0;
    top: 1%;
}
