@use './variables' as *;

.header {
  width: 100%;
  background-color: var(--main-background);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: none;
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .header-content {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-left {
    display: flex;
    gap: 1rem;
  }

  .header-right {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .header-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .account-settings {
    display: flex;
    gap: 0.5rem;
  }
} 