.histogram {
    width: 99%;
    margin-top: 3rem;
    height: 30rem;
    .histogram-slider {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        .histogram-slider-range {
            flex: 1;
        }

        .histogram-slider-left-value,
        .histogram-slider-right-value {
            min-width: 3rem;
            text-align: center;
        }
    }

    .recharts-wrapper {
        .recharts-line {
            .recharts-line-curve {
                stroke: #8884d8;
            }
        }

        .recharts-dot {
            r: 4;
        }
    }
}
