.last_ach_container {
    width: 470px;
    height: 470px;
    margin: 6px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .Cont {
        width: calc(100% / 7.5);
        margin-right: 15px;
        height: calc(100% / 7.5);
        object-fit: cover;
        position: relative;
        
    }
}

.last_ach_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.1s ease-in-out;
    position: relative;
    &::after {
        background: linear-gradient(to right, #3b414a 0%, #2c3138 95%);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
