.progress_rad {
    display: flex;
    width: var(--heigth);
    height: var(--heigth);
    border-radius: 50%;
    background: conic-gradient(red var(--progress), gray 0deg);
    font-size: 0;
    animation: 0.4s ease-out turn_in reverse;
    border: 4px solid #1b2838;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    &::before {
        content: "";
        display: flex;
        width: var(--length);
        height: var(--length);
        margin-left: -0.5rem;
        margin-top: -0.5rem;
        position: absolute;
        border-radius: 50%;
        background: conic-gradient(rgb(0, 255, 217) var(--progress-float), gray 0deg);
        font-size: 0;
        animation: 0.4s ease-out turn_in_sec reverse;
        z-index: -1;
    }

    &::after {
        content: attr(data-progress);
        display: flex;
        color: #fff;
        justify-content: center;
        font-size: 2rem;
        flex-direction: column;
        width: 100%;
        margin: 0.3rem;
        border-radius: 50%;
        background: #1b2838;
        text-align: center;
        z-index: 1;
        font-weight: bold;
    }
}
@keyframes turn_in_sec {
    5% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .95), gray 0deg);
    }
    10% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .9), gray 0deg);
    }
    15% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .85), gray 0deg);
    }
    20% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .8), gray 0deg);
    }
    25% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .75), gray 0deg);
    }
    30% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .7), gray 0deg);
    }
    35% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .65), gray 0deg);
    }
    40% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .6), gray 0deg);
    }
    45% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .55), gray 0deg);
    }
    50% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .5), gray 0deg);
    }
    55% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .45), gray 0deg);
    }
    60% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .4), gray 0deg);
    }
    65% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .35), gray 0deg);
    }
    70% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * 0.3), gray 0deg);
    }
    75% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * 0.25), gray 0deg);
    }
    80% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .2), gray 0deg);
    }
    85% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .15), gray 0deg);
    }
    90% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .1), gray 0deg);
    }
    95% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .05), gray 0deg);
    }
    100% {
        background: conic-gradient(gray 0deg);
    }
}
@keyframes turn_in {
    5% {
        background: conic-gradient(red calc(var(--progress) * .95), gray 0deg);
    }
    10% {
        background: conic-gradient(red calc(var(--progress) * .9), gray 0deg);
    }
    15% {
        background: conic-gradient(red calc(var(--progress) * .85), gray 0deg);
    }
    20% {
        background: conic-gradient(red calc(var(--progress) * .8), gray 0deg);
    }
    25% {
        background: conic-gradient(red calc(var(--progress) * .75), gray 0deg);
    }
    30% {
        background: conic-gradient(red calc(var(--progress) * .7), gray 0deg);
    }
    35% {
        background: conic-gradient(red calc(var(--progress) * .65), gray 0deg);
    }
    40% {
        background: conic-gradient(red calc(var(--progress) * .6), gray 0deg);
    }
    45% {
        background: conic-gradient(red calc(var(--progress) * .55), gray 0deg);
    }
    50% {
        background: conic-gradient(red calc(var(--progress) * .5), gray 0deg);
    }
    55% {
        background: conic-gradient(red calc(var(--progress) * .45), gray 0deg);
    }
    60% {
        background: conic-gradient(red calc(var(--progress) * .4), gray 0deg);
    }
    65% {
        background: conic-gradient(red calc(var(--progress) * .35), gray 0deg);
    }
    70% {
        background: conic-gradient(red calc(var(--progress) * 0.3), gray 0deg);
    }
    75% {
        background: conic-gradient(red calc(var(--progress) * 0.25), gray 0deg);
    }
    80% {
        background: conic-gradient(red calc(var(--progress) * .2), gray 0deg);
    }
    85% {
        background: conic-gradient(red calc(var(--progress) * .15), gray 0deg);
    }
    90% {
        background: conic-gradient(red calc(var(--progress) * .1), gray 0deg);
    }
    95% {
        background: conic-gradient(red calc(var(--progress) * .05), gray 0deg);
    }
    100% {
        background: conic-gradient(gray 0deg);
    }
}
