.stats-page {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: calc(100vh - 72px);
    .stats-type-holder {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 0.5rem;
        border-radius: 1rem;
        background-color: gray;
        width: 90%;
        height: 3rem;
        .stats-type {
            background-color: lightgray;
            border: 1px solid black;
            width: 10rem;
            border-radius: 0.66rem;
            text-align: center;
        }
    }

    .stats-container {
        width: 99%;
        height: calc(100% - 4rem);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}
