.update-progress {
  margin: 20px;

  h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }

  .progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    font-size: 1rem;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 8px 16px;
    margin: 4px 0;
    border-radius: 5px;
    color: #333;
  }

  ul {
    padding: 0;
    list-style-type: none;
    max-height: 200px;
    margin: 10px 0;

    li {
      background-color: #f0f0f0;
      border: 1px solid #ddd;
      padding: 8px 16px;
      margin: 4px 0;
      border-radius: 5px;
      font-size: 1rem;
      color: #333;
      word-wrap: break-word;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }

  .no-games-updated {
    font-size: 1rem;
    color: #888;
    text-align: center;
  }
}
