
.background {
    background-color: #1b2838;
    background-size: cover;
    filter: blur(5px);
    transform: scale(1.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.root {
    width: 100%;
}
.clearDiv {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #304865;
    border: 1px solid black;
}
label {
    color: white;
}
.last_ach_container {
    width: 470px;
    height: 470px;
    margin: 6px;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.last_ach_container img {
    width: calc(100% / 7.5);
    margin-right: 5px;
    height: calc(100% / 7.5);
    object-fit: cover;
}
.progress_container {
    position: relative;
}

.progress_rad {
    display: flex;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: conic-gradient(red var(--progress), gray 0deg);
    font-size: 0;
    animation: 0.4s ease-out turn_in reverse;
    border: 4px solid #1b2838;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.progress_rad::before {
    content: "";
    display: flex;
    width: 10rem;
    height: 10rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    position: absolute;
    border-radius: 50%;
    background: conic-gradient(rgb(0, 255, 217) var(--progress-float), gray 0deg);
    font-size: 0;
    animation: 0.4s ease-out turn_in_sec reverse;
    z-index: -1;
}

.progress_rad::after {
    content: attr(data-progress);
    display: flex;
    color: #fff;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0.3rem;
    border-radius: 50%;
    background: #1b2838;
    font-size: 2rem;
    text-align: center;
    z-index: 1;
    font-weight: bold;
}
@keyframes turn_in_sec {
    5% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .95), gray 0deg);
    }
    10% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .9), gray 0deg);
    }
    15% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .85), gray 0deg);
    }
    20% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .8), gray 0deg);
    }
    25% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .75), gray 0deg);
    }
    30% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .7), gray 0deg);
    }
    35% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .65), gray 0deg);
    }
    40% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .6), gray 0deg);
    }
    45% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .55), gray 0deg);
    }
    50% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .5), gray 0deg);
    }
    55% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .45), gray 0deg);
    }
    60% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .4), gray 0deg);
    }
    65% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .35), gray 0deg);
    }
    70% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * 0.3), gray 0deg);
    }
    75% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * 0.25), gray 0deg);
    }
    80% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .2), gray 0deg);
    }
    85% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .15), gray 0deg);
    }
    90% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .1), gray 0deg);
    }
    95% {
        background: conic-gradient(rgb(0, 255, 217) calc(var(--progress-float) * .05), gray 0deg);
    }
    100% {
        background: conic-gradient(gray 0deg);
    }
}
@keyframes turn_in {
    5% {
        background: conic-gradient(red calc(var(--progress) * .95), gray 0deg);
    }
    10% {
        background: conic-gradient(red calc(var(--progress) * .9), gray 0deg);
    }
    15% {
        background: conic-gradient(red calc(var(--progress) * .85), gray 0deg);
    }
    20% {
        background: conic-gradient(red calc(var(--progress) * .8), gray 0deg);
    }
    25% {
        background: conic-gradient(red calc(var(--progress) * .75), gray 0deg);
    }
    30% {
        background: conic-gradient(red calc(var(--progress) * .7), gray 0deg);
    }
    35% {
        background: conic-gradient(red calc(var(--progress) * .65), gray 0deg);
    }
    40% {
        background: conic-gradient(red calc(var(--progress) * .6), gray 0deg);
    }
    45% {
        background: conic-gradient(red calc(var(--progress) * .55), gray 0deg);
    }
    50% {
        background: conic-gradient(red calc(var(--progress) * .5), gray 0deg);
    }
    55% {
        background: conic-gradient(red calc(var(--progress) * .45), gray 0deg);
    }
    60% {
        background: conic-gradient(red calc(var(--progress) * .4), gray 0deg);
    }
    65% {
        background: conic-gradient(red calc(var(--progress) * .35), gray 0deg);
    }
    70% {
        background: conic-gradient(red calc(var(--progress) * 0.3), gray 0deg);
    }
    75% {
        background: conic-gradient(red calc(var(--progress) * 0.25), gray 0deg);
    }
    80% {
        background: conic-gradient(red calc(var(--progress) * .2), gray 0deg);
    }
    85% {
        background: conic-gradient(red calc(var(--progress) * .15), gray 0deg);
    }
    90% {
        background: conic-gradient(red calc(var(--progress) * .1), gray 0deg);
    }
    95% {
        background: conic-gradient(red calc(var(--progress) * .05), gray 0deg);
    }
    100% {
        background: conic-gradient(gray 0deg);
    }
}
.progress {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    height: 16px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: width 0.4s linear, background-color 0.4s linear;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.1) inset;
    animation-name: changeWidth;
    animation-duration: 3s;
    animation-timing-function: linear;
}
@keyframes changeWidth {
    from {
        width: 0;
        background-color: #f63a0f;
    }
    to {
        width: width;
        background-color: background-color;
    }
}
.container {
    display: flex;
    align-items: center;
}

.container p {
    margin-right: 10px;
}
.card:hover {
    background-color: #a9a9a9;
}

.row {
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 0 5px white inset;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px;

}

.cell {
    display: inline-block;
    background-color: whitesmoke;
    padding: 5px;
    text-align: center;

}
.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px rgb(192, 192, 192) solid;

}
.middle {
    border-right: 1px rgb(192, 192, 192) solid;
    border-left: 1px rgb(192, 192, 192) solid;
}
.right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px rgb(192, 192, 192) solid;
}

select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 20em;
    height: 1.6em;
    padding: 0 4em 0 1em;
    background: url("https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg") no-repeat right 0.8em center / 1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
select option {
    color: inherit;
    background-color: #320a28;
}
select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}

.rare1 {
    position: relative;

    animation: anim 1.5s ease-in-out infinite alternate;
}
@keyframes anim {
    from {
        border: 3px solid #fffb00d5;
        box-shadow: 0 0 8px #fffb00d5;
    }
    to {
        border: 3px solid #FFA500;
        box-shadow: 0 0 8px #FFA500;
    }
}

.rare2 {
    border: 3px solid #aa03aa;
    box-shadow: 0 0 8px #aa03aa;
}
.rare3 {
    border: 3px solid #00BFFF;
    box-shadow: 0 0 8px #00BFFF;
}
.rare4 {
    border: 3px solid #90EE90;
    box-shadow: 0 0 8px #90EE90;
}
.rare5 {
    border: 3px solid #00b500;
    box-shadow: 0 0 8px #00b500;
}
.full {
    position: relative;
    box-shadow: 3px solid #FFA500;
    animation: full_game_anim 1.5s ease-in-out infinite alternate;
}
@keyframes full_game_anim {
    from {
        border: 2px solid #ffa600c2;
    }
    to {
        border: 2px solid #FFA500;
    }
}
.not_full {
    box-shadow: 3px solid black;
}
.gameButton {
    background-color: gray;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.gameButton:hover {
    background-color: #a9a9a9;
}
.nickname {
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
    font-weight: bold;

}
table {
    border-collapse: collapse;
    width: 75%;
}

th {
    background-color: #43566f;
    font-weight: bold;
    text-align: center;
    color: #c3c2c2;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

td {
    text-align: center;
    background-color: #425772;
    color: #fff;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.hiden {
    width: fit-content;
    height: fit-content;
    display: none;
    animation: buttonFlow 1s ease-in-out;
}
.ButtonToHide {
    animation: buttonFlow 1s ease-in-out;
}
@keyframes buttonFlow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
input {
    border: none;
    background: #f2f2f2;
    padding: 0.35rem;
    font-size: 1rem;
    margin-right: 0.5rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    clip-path: circle(0%);
    animation: reveal 1s ease-in-out forwards;
}
input:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
@keyframes reveal {
    0% {
        clip-path: circle(0%);
    }
    100% {
        clip-path: circle(100%);
    }
}

.sortGamesButton {
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #f2f2f2;
    color: #333;
    border: none;
}
.sortGamesButton.active {
    background-color: rgb(164, 164, 164)
}
