
.background {
    background-color: #1b2838;
    background-size: cover;
    filter: blur(5px);
    transform: scale(1.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.root {
    width: 100%;
}

label {
    color: white;
}

.progress_container {
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container p {
    margin-right: 10px;
}

.rare1 {
    box-shadow: 0 0 2px 1px rgba(255,184,78,.6), 0 0 16px 1px rgba(255,184,78,.4);
}

.rare2 {
    border: #aa03aa 2px solid;
    box-shadow: 0 0 2px 1px #aa03aa, 0 0 16px 1px #aa03aa;
}
.rare3 {
    border: #00BFFF 2px solid;
    box-shadow: 0 0 2px 1px #00BFFF, 0 0 16px 1px #00BFFF;
}
.rare4 {
    border: #90EE90 2px solid;
    box-shadow: 0 0 2px 1px #90EE90, 0 0 16px 1px #90EE90;
}
.rare5 {
    border: #00b500 2px solid;
    box-shadow: 0 0 2px 1px #00b500, 0 0 16px 1px #00b500;
}
.Mask {
    position: absolute;
    top: -20%;
    right: -20%;
    bottom: -20%;
    left: -20%;
    -webkit-mask-image: url("https://community.cloudflare.steamstatic.com/public/images/applications/community/square_mask.png?v=228c634fbd49cb0abca8f133da74568e");
    mask-image: url("https://community.cloudflare.steamstatic.com/public/images/applications/community/square_mask.png?v=228c634fbd49cb0abca8f133da74568e");
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    overflow: hidden;
    color: black;

}
.Crare1 {
    background: repeating-conic-gradient(rgba(255, 217, 0, 0.178) 0%, rgba(255, 184, 78, 0) 6%, rgba(255, 217, 0, 0.178) 10%, rgb(255, 184, 78) 26%, rgba(255, 217, 0, 0.178) 35%, rgb(255, 184, 78) 40%, rgba(255, 217, 0, 0.178) 60%, rgb(255, 184, 78) 82%, rgba(255, 217, 0, 0.178) 100%);

}
@keyframes achievementiconbase_rotate_1Mdch {
    to {
        transform: rotate(1turn);
    }
}
.third_mask {
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    animation-name: achievementiconbase_rotate_1Mdch;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    mix-blend-mode: overlay;
    overflow: hidden;
}
.second_mask {
    animation-name: rotate;
    animation-duration: 8s;
    width: 100%;
    height: 100%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-play-state: running;
    -webkit-mask-image: url("https://community.cloudflare.steamstatic.com/public/images/applications/community/star_mask.png?v=f5bdbe2b5b2e06312107ec50bcce2983");
    mask-image: url("https://community.cloudflare.steamstatic.com/public/images/applications/community/star_mask.png?v=f5bdbe2b5b2e06312107ec50bcce2983");
}
table {
    border-collapse: collapse;
    width: 75%;
}
th {
    background-color: #43566f;
    font-weight: bold;
    text-align: center;
    color: #c3c2c2;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

td {
    text-align: center;
    background-color: #425772;
    color: #fff;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.sortGamesButton {
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #f2f2f2;
    color: #333;
    border: none;
}
.sortGamesButton.active {
    background-color: rgb(164, 164, 164);
}

.label-container,
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.return {
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    width: 120px;
    left: 0;
    top: 1%;
}

.game-label {
    display: inline-block;
    padding: 5px 10px;
    font-size: 2rem;
}

.table-container {
    margin-top: 1rem;
}

.switchTable {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1rem;
    margin-right: 1rem;
}
