img {
  display: block;
  padding-left: 2px;
  width: auto;
  height: auto;
}
.background {
  background-color: #1b2838;
  background-size: cover;
  filter: blur(5px);
  transform: scale(1.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

label{
  color:white;
}
.last_ach_container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-100%, 0);
}

.last_ach_container img {
  width: calc(100% / 6);
  height: calc(100% / 6);
  object-fit: cover;
}