@use './variables' as *;

.preview-container {
    height: 10em;
    margin-top: $spacing-md;

    .preview-img {
        float: left;
        height: 90%;
        box-shadow: var(--card-shadow);
        margin-right: $spacing-lg;
    }

    .gain-nongain {
        margin-left: $spacing-xl;
        font-size: 2em;
    }
}
