@use './variables' as *;

.gameFilterCont {
    display: flex;
    justify-content: center;
    align-items: center;
    .inputSortFilterContainerGames {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $spacing-xl;
        width: fit-content;
        border-radius: $border-radius-lg;
        background-color: var(--accent-color);
    }
}
.games-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));
    gap: 10px;
    padding: 10px;
}

.add-game-button {
    margin-right: $spacing-md;
    position: absolute;
    right: 0;
    top: 8%;
}

.cross {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-header);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
