.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: var(--bg-primary);
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 500px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);

  h3 {
    margin-top: 0;
  }
}

.modal-scrollable-content {
  overflow-y: auto;
  margin-bottom: 20px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: auto;

  button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:first-of-type {
      background-color: var(--primary-color);
      color: white;
    }

    &:last-of-type {
      background-color: var(--secondary-color);
    }
  }
}
